<div class="btn-group-vertical note-btn-group" dropdown is-open="isopen">
  <div
    class="note-btn"
    title="{{ 'note' | lang: 'ui' }}"
    ng-class="{'active': isopen}"
    ng-click="addNote()"
    ng-disabled="minder.queryCommandState('note') === -1"
  ><i class="iconfont icon-beizhu"></i>
</div><div
    class="note-btn-caption dropdown-toggle"
    ng-disabled="minder.queryCommandState('note') === -1"
    title="{{ 'note' | lang: 'ui' }}"
    dropdown-toggle
  >
  <i class="trangle"></i>
  </div>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a href ng-click="addNote()">{{ 'insertnote' | lang: 'ui' }}</a>
    </li>
    <li>
      <a href ng-click="minder.execCommand('note', null)">{{ 'removenote' | lang: 'ui' }}</a>
    </li>
  </ul>
</div>
