.btn-group-vertical {
    &.note-btn-group {
        border-right: 1px dashed #ccc;
        padding-right: 5px;
    }

    .note-btn, .note-btn-caption {
        position: relative;
        display: inline-block;

        .ele-state;
    }

    .note-btn {
        width: 30px;
    }

    .note-btn-caption {
    }
}

//override bootstrap
.open > .dropdown-toggle.btn-default {
    background-color: @tool-hover;
}
