<div class="btn-group-vertical" dropdown is-open="isopen">
  <div
    class="image-btn"
    title="{{ 'image' | lang: 'ui' }}"
    ng-class="{'active': isopen}"
    ng-click="addImage()"
    ng-disabled="minder.queryCommandState('Image') === -1"
  >
    <i class="iconfont icon-tupian"></i>
    </div><div
    class="image-btn-caption dropdown-toggle"
    ng-disabled="minder.queryCommandState('Image') === -1"
    title="{{ 'image' | lang: 'ui' }}"
    dropdown-toggle
  >
    <i class="iconfont icon-xialajiantou"></i>
  </div>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a href ng-click="addImage()">{{ 'insertimage' | lang: 'ui' }}</a>
    </li>
    <li>
      <a href ng-click="minder.execCommand('Image', '')">{{ 'removeimage' | lang: 'ui' }}</a>
    </li>
  </ul>
</div>
