<div class="panel panel-default" ng-init="noteEditorOpen = false" ng-show="noteEditorOpen">
    <div class="panel-heading">
        <i class="close-note-editor iconfont icon-guanbi" ng-click="closeNoteEditor()"></i>
        <h3 class="panel-title">备注</h3>
        <!-- <span>（<a class="help" href="https://www.zybuluo.com/techird/note/46064" target="_blank">支持 GFM 语法书写</a>）</span> -->
    </div>
    <div class="panel-body">
        <div ng-show="noteEnabled"
             ui-codemirror="{ onLoad: codemirrorLoaded }"
             ng-model="noteContent"
             ui-codemirror-opts="{
                gfm: true,
                breaks: true,
                lineWrapping : true,
                mode: 'gfm',
                dragDrop: false,
                lineNumbers:true
             }">
        </div>
        <p ng-show="!noteEnabled" class="km-note-tips">
            请选择节点编辑备注
        </p>
        <div class="km-note-remove" ng-show="noteEnabled && visibleRemoveBtn()">
            <div class="km-note-remove-btn" ng-click="minder.execCommand('note', null)">移除当前备注</div>
        </div>
    </div>
</div>